body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .app {
    padding: 8px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .header {
    text-align: center;
    font-size: 14px;
    margin-bottom: 9px;
    font-weight: bold;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 10px;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 2px;
    padding: 4px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
  }
  
  .day {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 12px;
    cursor: default;
  }
  
  .empty {
    background: transparent;
  }
  
  .normal {
    background: transparent;
  }
  
  .today {
    font-weight: bold;
    font-size: 13px;
    color: black;
  }